.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 216px auto;
  column-gap: 36px;
  background: #151515;
  padding: 24px 24px 24px 12px;
  align-items: start;
  box-sizing: border-box;
}

.userInfoContainer {
  width: 216px;
  height: auto;
  grid-column: 1;
  justify-self: start;
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 84px;
}
